body{
    background: green;
}
.myphoto{
    height: 300px;
    width: 500px;
    float: left;
}
.title{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;

    
}
.important{
    font-style: italic;
}